<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_bigcommerce_root"
            name="BigCommerce"
            sequence="35"
            action="bigcommerce_connector.action_bigcommerce_connector"
            groups="base.group_user"
            web_icon="base,static/description/icon.png"
        />

        <menuitem
            id="menu_bigcommerce_connectors"
            name="Connectors"
            parent="bigcommerce_connector.menu_bigcommerce_root"
            sequence="10"
            action="bigcommerce_connector.action_bigcommerce_connector"
            groups="base.group_user"
        />
    </data>
</odoo>
